# MANIFEST.in
exclude .git
include app
exclude build
exclude commands
include rancher
exclude templates
exclude .gitignore
include README.md
include requirements.txt
include setup.cfg
include setup.py
